# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Dependency directories
node_modules/
bower_components/

# Logs and databases
*.log
*.sql
*.sqlite
db.sqlite3
*.db

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Mac OS system files
.DS_Store
